Q1 How can we store a single quote (â€˜) as a string 1n a variable?
Ans:- Yes , A string variable using a single quote(' ')  and include double quotes (" ")  character inside the string
My_str = ' I write a code in single quotes and doulbe quotes '

Q2 Refer the below var1able:
x = 'a'
Here, is x a character type or string type variable? Support your answer with an explanation.
Ans:- X is a string variable with a single character 'a'. Therefore, X is a string type variable, not a character type variable

Q3 Apply the following functions on this variable: 'Welcome to Python foundation  course'
1. find()
2. count()
3. len()
4. Concatenation
Note: You can use your choice of parameters. But make sure it is correct.
Ans:-
a ="Welcome to Python foundation  course"
a.find("e")
output:-  1

a.count("e")
output:-3



len(a)
output:-  36


str_1 = "Hello"
str_2= "World"


print(str_1+str_2)


output:-  HelloWorld

In [28]:
str_1 = "Hello"
str_2= "World"


print(str_1+str_2)

HelloWorld

Q4 For the variable: word = 'Panaji@12256'
Calculate the follow1ng:
(a) Total number of alphabets in lowercase
(b) Total number of alphabets in uppercase
(c) Total number of numeical  in string

word = 'Panaji@12256'
lowercase_count = 0
uppercase_count = 0
numeric_count = 0


for character in word :
    if character.islower():
        lowercase_count +=1 
    elif character.isupper():
        uppercase_count +=1
    elif character.isdigit():
        numeric_count +=1
print("Total number of alphabets in lowercase  ", lowercase_count)
print("Total number of alphabets in uppercase  ",uppercase_count)
print("Total number of numeical  in string " ,numeric_count)



Output:-
Total number of alphabets in lowercase   5
Total number of alphabets in uppercase   1
Total number of numeical  in string  5

Q5. Write a code to store a numerical value inside a varable then convert it into string .

number = 86
type(number)

s = str(number)
print(type(s))

output:-  <class 'str'>